@font-face {
    font-family: 'Norse';
    src: url('font/Norse-Bold.woff2') format('woff2'),
        url('font/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  height: 100vh;
}

@media screen and (max-width: 900px){
    body{
        display: flex;
        flex-wrap: wrap;
    }
}

.logo{
    font-family: "Norse";
}

.left{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 712px;
    align-items: center;
    position: relative;
    color:white;
    flex-grow: 1;
    flex-shrink: 1;
    img{
        width: 100%;
        height: 100%;
    }
    div{
        position: absolute;
        font-size: 35px;
        top:160px;
        display: flex;
        width: 100%;
        height: 110px;
        padding: 5px 0 5px 0;
        background: rgb(0 0 0 / 57%);
        align-items: center;
        justify-content: center;
        img{
            width: 70px;
            height: 100%;
        }
    }
    p{
        position: absolute;
        bottom: 10px;
        font-size: 12px;
    }
    p > a{
        color: white;
    }

}
.right > div:first-child{
    width: 600px;
    font-size: 18px;
    font-weight: 650;
    padding-left: 50px;
    margin-bottom: 50px;
    p:last-child{
        margin-top: 30px;
    }
}


.right > div:last-child{
    padding-left: 50px;

    div:last-child{
        margin-top: 20px;
        display: flex;
        font-size: 1rem;
        font-weight: 400;
    }
    a{
        color: #647755;
        text-decoration: none;
        margin-left: 3px;
        font-weight: 600;
    }
    label{
        background-color: #596D48;
        color: white;
        font-weight: 500;
        display: flex;
        width: 220px;
        height: 40px;
        border-radius: 6px;
        justify-content: center;
        align-items: center;
    }
}

.right{
    background-color: rgba(240, 238, 238, 0.968);
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    height: 712px;
    form{
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 10px 0 20px 50px;
        gap: 20px;
    }

    form > legend{
        font-size: 18px;
        font-weight: 600;
    }
    form > div{
        display: flex;
        width: 100%;
        gap: 60px;
    }
    form > div > div{
        display: flex;
        flex-direction: column;
        max-width: 350px;
        input{
            margin-bottom: 10px;
            height: 30px;
            width: 250px;
            border: 1px solid #E5E7EB;
            border-radius: 4px;
            font-size: 15px;
            padding: 5px 20px 5px 10px;
        }

        input:invalid{
            border: 1px solid red;
        }

        input:focus{
            border: 1px solid blue;
            outline: none;
            box-shadow: 1px 5px 8px -2px rgba(0,0,0,0.25);
        }

        label{
            font-size: 0.8rem;
            font-weight: 450;
        }

        
    }

}



.hidden{
    display: none;
}